<div fxLayout="column" fxFill>
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <img class="logo-toolbar" src="assets/img/pizza-logo.png">

    PIZZA SYNC

    <app-pizzas-search
      [searchedText]="searchQuery$ | async"
      (onSearch)="search($event)"
      fxFlex
      fxLayout="row"
      fxLayoutAlign="center center"
      class="margin-left-x4 margin-right-x3"
    ></app-pizzas-search>

    <button mat-button (click)="toggleFilterIngredients()">
      <mat-icon>sort</mat-icon>
      <span class="nb-filters-ingredients">x{{ nbIngredientsSelected$ | async }}</span>
    </button>

    <app-countdown
      *ngIf="hourAndMinuteEnd$ | async as hourAndMinuteEnd"
      [hour]="hourAndMinuteEnd.hour"
      [minute]="hourAndMinuteEnd.minute"
      (onCountdownStart)="lockOrders = false"
      (onCountdownEnd)="lockOrders = true"
      class="margin-left-x3">
    </app-countdown>

    <a href="https://github.com/maxime1992/pizza-sync" target="_blank">
      <mat-icon svgIcon="github" color="accent" class="margin-left-x2"></mat-icon>
    </a>
  </mat-toolbar>

  <mat-sidenav-container fxFlex (backdrop-clicked)="closeSidenav()">
    <mat-sidenav [opened]="(ui$ | async).isSidenavVisible" mode="side">
      <app-orders [locked]="lockOrders"></app-orders>
    </mat-sidenav>

    <app-filter-ingredients
      *ngIf="isFilterIngredientsVisible$ | async"
      [ingredients]="ingredients$ | async"
      (onIngredientSelected)="selectIngredient($event)"
      (onIngredientUnselected)="unselectIngredient($event)">
    </app-filter-ingredients>

    <div *ngIf="ingredientsSelected$ | async as ingredientsSelected">
      <div *ngIf="ingredientsSelected.length" class="ingredients-selected" [class.border-top]="isFilterIngredientsVisible$ | async">
        <div class="title color-accent">Selected ingredient{{ ingredientsSelected.length > 1 ? 's': '' }}:</div>

        <mat-chip-list>
          <mat-chip
            *ngFor="let ingredient of ingredientsSelected"
            color="primary"
            selected="true"
            class="margin-bottom-x1">
            {{ ingredient.name }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <app-pizzas [locked]="lockOrders"></app-pizzas>
  </mat-sidenav-container>

  <button mat-mini-fab class="csv-download" (click)="downloadCsv()" [disabled]="!lockOrders">
    <mat-icon>file_download</mat-icon>
  </button>

  <button mat-mini-fab class="order-summary" [disabled]="(nbOfPizzas$ | async) === 0" (click)="openOrderSummaryDialog()">
    <mat-icon>receipt</mat-icon>
  </button>

  <mat-toolbar color="primary" class="footer full-width">
    <div *ngIf="(ui$ | async).pizzeria as pizzeria" class="full-width">
      <div *ngIf="pizzeria.name" fxLayout="row" fxLayoutAlign="center center" @enterAnimation>
        <span class="pizzeria-name">{{ pizzeria.name }}</span>

        <span class="split">|</span>

        <mat-icon>phone</mat-icon> {{ pizzeria.phone }}

        <span class="split">|</span>

        <a [href]="pizzeria.url" target="_blank" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>public</mat-icon>
        </a>
      </div>
    </div>
  </mat-toolbar>
</div>
