<div fxLayout="column" fxFill>
  <md-toolbar color="primary" class="header">
    <button md-icon-button (click)="toggleSidenav()">
      <md-icon>menu</md-icon>
    </button>

    <img class="logo-toolbar" src="assets/img/pizza-logo.png">

    PIZZA SYNC

    <div fxFlex></div>

    <app-countdown
      [hour]="(hourAndMinuteEnd$ | async).hour"
      [minute]="(hourAndMinuteEnd$ | async).minute"
      (onCountdownStart)="lockOrders = false"
      (onCountdownEnd)="lockOrders = true">
    </app-countdown>
  </md-toolbar>

  <md-sidenav-container fxFlex (backdrop-clicked)="closeSidenav()">
    <md-sidenav [opened]="(ui$ | async).isSidenavVisible" mode="side">
      <app-orders [locked]="lockOrders"></app-orders>
    </md-sidenav>

    <app-pizzas [locked]="lockOrders"></app-pizzas>
  </md-sidenav-container>

  <md-toolbar color="primary" class="footer" fxLayout="row" fxLayoutAlign="center center">
    <span class="pizzeria-name">{{ (ui$ | async).pizzeria.name }}</span>

    <span class="split">|</span>

    <md-icon>phone</md-icon> {{ (ui$ | async).pizzeria.phone }}

    <span class="split">|</span>

    <a [href]="(ui$ | async).pizzeria.url" target="_blank"><md-icon>public</md-icon></a>
  </md-toolbar>
</div>
