@import '../../styles/shared/_colors';

mat-sidenav {
  width: 300px;
}

mat-toolbar.header {
  .logo-toolbar {
    height: 45px;
    margin-right: 10px;
  }

  button {
    margin-right: 5px;
  }
}

mat-toolbar.footer {
  .pizzeria-name {
    font-weight: bold;
  }

  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: white;
    text-decoration: none;
  }

  .split {
    margin-left: 15px;
    margin-right: 15px;
  }

  mat-icon {
    margin-right: 5px;
  }
}

.order-summary {
  color: white;
  position: absolute;
  right: 20px;
  bottom: 80px;
}

.csv-download {
  color: white;
  position: absolute;
  right: 20px;
  bottom: 136px;
}

.csv-download, .order-summary {
  z-index: 1;
}

.nb-filters-ingredients {
  position: absolute;
  margin-left: -7px;
  margin-top: 3px;
  font-size: 12px;
  color: mat-color($accent);
}

.ingredients-selected {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid mat-color($accent);

  &.border-top {
    border-top: 1px solid mat-color($accent);
  }

  .title {
    margin-bottom: 7px;
    font-weight: 600;
  }
}
