md-icon {
  margin-left: 8px;
  margin-right: 8px;
}

md-progress-spinner {
  width: 12px;
  height: 19px;
  margin-left: 8px;
  display: inline-block;
}

md-hint {
  color: grey;
}

button {
  margin-top: 10px;
}
