.being-removed {
  color: grey;
  text-decoration: line-through;
}

.btn-remove-order {
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.green-led {
  position: absolute;
  margin-left: 30px;
  margin-top: 12px;
}
