<div class="pizzas">
  <div *ngFor="let pizzaCategorie of pizzasCategories">
    <h1 class="color-primary">{{ pizzaCategorie.name }}</h1>

    <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px">
      <!--TODO : There's an ongoing issue with layout gap-->
      <!--https://github.com/angular/flex-layout/issues/125-->
      <!--once it's solve, set fxFlex to 33.3%-->
      <app-pizza
        *ngFor="let pizza of pizzaCategorie.pizzas; trackBy: trackById"
        [pizza]="pizza"
        [locked]="locked"
        (onAddOrder)="addOrder($event)"
        fxFlex.xs="97%"
        fxFlex.gt-sm="47%"
        fxFlex.gt-md="30%"
        fxFlex.gt-lg="22%">
      </app-pizza>
    </div>
  </div>
</div>
