<h1 class="sum">{{ (fullOrder$ | async).totalPrice }} €</h1>

<md-list>
  <md-list-item *ngFor="let user of (fullOrder$ | async).users">
    <img md-list-avatar [src]="getThumbnail(user)">
    <h3 md-line>
      <i>{{ user.username }}</i> - <b>{{ user.totalPrice }}€</b>
    </h3>

    <p md-line *ngFor="let pizza of user.pizzas" [class.being-removed]="pizza.isBeingRemoved">
      {{ pizza.name }} ({{ pizza.size }})
      <span class="btn-remove-order" (click)="removeOrder(pizza.orderId)" *ngIf="!pizza.isBeingRemoved && (idCurrentUser$ | async) === user.id">X</span>
    </p>
  </md-list-item>
</md-list>
