<md-list>
  <h3 md-subheader>
    Easy order view

    <div *ngIf="nbOfPizzas$ | async as nbOfPizzas">
      <span [ngPlural]="nbOfPizzas">:
        <ng-template ngPluralCase="=1">1 pizza only</ng-template>
        <ng-template ngPluralCase="other">{{ nbOfPizzas }} pizzas</ng-template>
      </span>
    </div>
  </h3>

  <md-list-item *ngFor="let pizza of orderSummary$ | async">
    <h4 md-line class="pizza-name">{{ pizza.pizzaName }}</h4>
    <p md-line class="how-many-per-size">{{ howManyPerSize(pizza) }}</p>
  </md-list-item>
</md-list>
