@import '../../../styles/shared/_colors';

mat-list {
  min-width: 300px;
  max-height: 400px;
}

.pizza-name {
  color: mat-color($primary);
  font-weight: bold;
}

.how-many-per-size {
  color: grey;
}
