@import './_utils';

html,
body,
app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: local(Material Icons), local(MaterialIcons-Regular);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// lib to have a pretty json display
// use <prettyjson [obj]="someObj"></prettyjson>
// instead of json pipe to have a pretty debug
pre {
  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: red;
  }
}

.green-led {
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #304701 0 -1px 3px,
    #89ff00 0 1px 3px;
}

.cursor-pointer {
  cursor: pointer;
}

.dialog-with-transparent-background {
  mat-dialog-container {
    background: none;
    box-shadow: none;
    padding: 0;
  }
}
